.form-container{width:800px; height:auto; background-color: #f6f8fd; border :1px solid #afafb0; 
margin: 50px auto 0px auto; overflow: hidden;}

.form-heading{font-family: 'roboto-black'; font-size:28px; color:#666; padding:20px 0px; text-align: center;}

.form-subheading{font-family: 'roboto'; font-size:18px; color:#666; margin:10px 0px;}

.form-subheading2{font-family: 'roboto'; font-size:14px; color:#666;}

.form-group{width:100%; margin: 10px; padding: 0px 10px; float: left; overflow: hidden;}

.form-group input[type="text"], input[type="password"], input[type="tel"], input[type="email"]{
    width:100%; height:40px; padding-left:10px; }

.form-row input[type="text"], input[type="password"], input[type="tel"], input[type="email"]{
    width:100%; height:40px; padding-left:10px; }

.form-row{width: 100%; float: left;}

.form-row div{min-height: 40px; margin-bottom:10px; }

.form-fieldcontainer{width:100%; float:left; padding:0px 20px; overflow: hidden; height: auto; margin:7px auto;}

.inputfield{height:45px;}

.inputfield input{height:45px; border:none; padding: 15px 0px 0px 15px; font-style:'roboto-light'}

.resuleuploader{width:100%; height:45px; line-height: 45px; text-align: center; color:#fff; background-color: #339900;
                font-style:'roboto-light'; }

.submitbtn{min-width: 200px; float: right;}





/* client.formfield{height:60px; line-height: 60px; position: relative;}

.formfield input[type="text"], .formfield input[type="email"], .formfield input[type="password"],
.formfield input[type="tel"] {width:100%; height:40px; padding:0px 10px;}

.formfield input[type="tel"]{padding-left:40px;}

.formfield .form-tel-label{position: absolute; left:25px; top:0px;}

.formfield select{width:100%; height: 40px; padding:0px 10px; }

.formfield .fresher-formfieldradio{ text-align: center; border:1px solid #d9d9d9; 
box-sizing: border-box; height:50px; line-height:50px; display: block; cursor: pointer; background-color: none; }

.formfield .selectedtab{ background-color: #27a7d4; color:#fff; border:1px solid #27a7d4;}

.resuleuploader{background-color: #4caf50; padding:0px 20px; color:#fff; cursor:pointer;}

.resuleuploader:hover{background-color: #4caf22; padding:0px 20px; color:#fff; cursor:pointer;}

.custombtn{padding:10px 40px; border-radius: 0px; margin:0 15px;}

.captchabox{width:212px; height:40px; margin: 10px;}

.captchabox .captchatitle{width:70px; height:40px; float: left; line-height: 40px}

.captchabox .captchatext{ float:left; width:25px; height:40px; text-align: center; line-height: 40px; 
font-family: 'roboto'; text-align: center; font-size: 16px;}

.captchabox input[type="text"]{width:40px; height:40px; text-align: center; line-height: 40px; font-family: 'roboto-black'; text-align: center; 
color:#fff; background-color: #6ac6f9; float: left; border: none; font-size: 16px;}

.educationalinfo{width: 100%; border:1px solid #eee; box-sizing: border-box; margin:10px 0px;}

.educationalinfo tr th{text-align: center;border:1px solid #eee; padding:0px 5px;}

.educationalinfo tr td{border:1px solid #eee; padding:0px 5px;}

.addqual{ background-color:#6ac6f9; border: none; height:40px; line-height: 40px;color: #fff; padding:0px 20px;}

.addqual:hover{ background-color:#63b7e6; border: none; height:40px; line-height: 40px;color: #fff; padding:0px 20px;}

.removequal{ background-color:#fa7f7f; border: none; height:40px; line-height: 40px;color: #fff; padding:0px 20px;}

.removequal:hover{ background-color:#ff5f5f; border: none; height:40px; line-height: 40px;color: #fff; padding:0px 20px;}

*/