<div style="float:left; overflow:hidden; ">
  
    <form #fresherregister="ngForm" (ngSubmit)="submitform()" >
      <div class="col-sm-12">
        <!-- fresher form step1 starts -->
        <div>
          <div class="fresher-formfields" class="col-sm-12 formfield">
            <div class="col-sm-3"> Name </div>
            <div class="col-sm-9">
              <input type="text" name="name" placeholder="Name" required [(ngModel)]="candidateinfo.info.personelinfo.name">
            </div>
          </div>

          <div class="fresher-email" class="col-sm-12 formfield">
            <div class="col-sm-3"> Email ID </div>
            <div class="col-sm-9">
              <input type="email" name="email" placeholder="Enter your active email id" required [(ngModel)]="candidateinfo.info.personelinfo.email">
            </div>
          </div>

          <div class="fresher-password" class="col-sm-12 formfield">
            <div class="col-sm-3">Enter Password </div>
            <div class="col-sm-9">
              <input type="password" placeholder="Min 6 characters" required name="pass" [(ngModel)]="candidateinfo.info.personelinfo.pass">
            </div>
          </div>

          <div class="fresher-mobile" class="col-sm-12 formfield">
            <div class="col-sm-3">Enter Mobile</div>
            <div class="col-sm-9">
              <div class="form-tel-label">+91</div>
              <input type="tel" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10" placeholder="Where recruiters call you" required name="phone" [(ngModel)]="candidateinfo.info.personelinfo.phone">
            </div>
          </div>

          <!--Current Address -->
          <div class="currentaddress" class="col-sm-12 formfield">
            <div class="col-sm-3">Current Address</div>

            <div class="col-sm-4">
               <select name="location" #clocationdd>
                <option *ngFor="let state of indianstates" value="{{state.title}}" ngControl="state" >{{state.title}}</option>
              </select>
            </div>

            <div class="col-sm-5">
              <input type="text" placeholder="city" name="city" required [(ngModel)]="candidateinfo.info.personelinfo.caddress.city">
            </div>
          </div>

          <div class="col-sm-12 formfield">
            <div class="col-sm-3"></div>
             <div class="col-sm-9">
                <input type="text" name="caddress" placeholder="full address" [(ngModel)]="candidateinfo.info.personelinfo.caddress.caddress"/>
             </div> 
          </div>
          <!--Current Address End-->

          <!--Permanent Address -->
          <div class="currentaddress" class="col-sm-12 formfield">
            <div class="col-sm-3">Permanent Address</div>

            <div class="col-sm-4">
               <select name="location">
                <option *ngFor="let state of indianstates" value="{{state.title}}" ngControl="state" >{{state.title}}</option>
              </select>
            </div>

            <div class="col-sm-5">
              <input type="text" placeholder="State" required name="paddress" [(ngModel)]="candidateinfo.info.personelinfo.paddress.paddress">
            </div>
          </div>

          <div class="col-sm-12 formfield">
            <div class="col-sm-3"></div>
             <div class="col-sm-9">
                <input type="text" name="currentaddress" placeholder="full address" [(ngModel)]="candidateinfo.info.personelinfo.paddress.paddress"/>
             </div> 
          </div>
          <!--Permanent Address End-->
          

          <div class="fresher-resume" class="col-sm-12 formfield">
            <div class="col-sm-3"> Upload Resume </div>
            <div class="col-sm-9">
              <input type="file" style="display:none;" (change)="getfile($event)" id="resuleuploader" name="resuleuploader" 
              value="Upload Latest Resume" accept=".doc,.docx,.rtf,.pdf">
              <label class="resuleuploader" for="resuleuploader" >{{browsedfilename}}</label>
            </div>
          </div>
          
          <!--
          <div class="fresher-formfields" class="col-sm-12 formfield">
            <div class="col-sm-3"> Highest Qualification </div>
            <div class="col-sm-9">
              Select your highest Qualification
            </div>
          </div>
          -->

          <div class="fresher-formfields" class="col-sm-12 formfield"  style="height:auto">
            <div class="col-sm-3"> Education Info </div>
            <div class="col-sm-9" style="height:auto; margin:10px 0px;">

              <!-- 10th and 12th Qual Starts  class="educationalinfo" -->

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Class</th>
                    <th>School/University</th>
                    <th>Subjects</th>
                    <th>Duration</th>
                    <th>Marks%</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>

                <tr *ngFor="let data of educationobjdata; let i=index">
                  <td>

                    <input type="text" placeholder="Degree" required style="border:none;" name="class" 
                     *ngIf="data.class==''" [(ngModel)]="data.class"/> {{data.class}}{{i}}
                  </td>

                  <td> 
                    <input type="text" placeholder="School/University" required style="border:none;"  
                    name="eduUniv" [(ngModel)]="data.univ" />
                  </td>

                  <td>
                    <input type="text" placeholder="Subjects" required style="border:none;" 
                    name="eduSubjects" [(ngModel)]="data.subjects"/>
                  </td>

                  <td>
                    from-to
                  </td>

                  <td>
                    <input type="text" placeholder="Marks%" required style="border:none;" 
                    name="eduMarks" [(ngModel)]="data.marks"/>
                  </td>

                  <td> 
                    <button type="text" class="btn btn-danger" *ngIf="data.action" 
                    (click)="removeEducationalQual(i)">-</button>
                  </td>
                </tr>

                </tbody>
              </table>

              <button class="addqual" type="button" (click)="addEducationalQual()"> +Add </button>
            </div>
          </div>

          <!-- Technical Qualification Starts-->

          <div class="fresher-formfields" class="col-sm-12 formfield" style="height:auto">
            <div class="col-sm-3"> Technical Qualification </div>
            <div class="col-sm-9" style="height:auto">
                <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Qualification</th>
                    <th>University</th>
                    <th>Discription</th>
                    <th>Degree</th>
                    <th>Duration</th>
                    <th>Marks%</th>
                    <th></th>
                  </tr>
<!--   

<option *ngFor="let state of indianstates" value="{{state.title}}" ngControl="state" >{{state.title}}</option>

-->
                  <tr *ngFor="let tech of techqualinfo; let i=index">
   
                    <td>
                      <input type="text" placeholder="Qualification" style="border:none" />
                    </td>

                    <td>
                      <input type="text" placeholder="University" style="border:none" />
                    </td>

                    <td>
                      <input type="text" placeholder="Discription" style="border:none" />
                    </td>
                    
                    <td>
                      <select style="border:none">
                        <option>Degree</option>
                        <option>Diploma</option>
                        <option>Certifaction</option>
                      </select>
                      </td>

                    <td>from - to</td>
                    
                    <td>
                      <input type="text" placeholder="Marks%" style="border:none" />
                    </td>
                    
                    <td>
                      <button type="button" class="btn btn-danger" (click)="removetechQual(i)">-</button>
                    </td>
                    
                  </tr>
                </thead>
                <tbody>
                <tr >
              </table>

              <button class="addqual" type="button" (click)="addTechQual()"> +Add </button>
            </div>
          </div>
          <!-- Technical Qualification Ends-->
        <!-- End of step 1 ends-->

          <div class="col-sm-12" style="height:160px; padding-top:40px;">
           
              <input type="submit" class="btn btn-primary custombtn" value="Register" >
          </div>
        </div>
      </div>
      <!-- End of form -->
    </form>
</div>
