<div class="row">
    <div class="form-container">
        <form [formGroup]="fresherform" (ngSubmit)="formsubmit(fresherform.value)" novalidate>
            <!-- Step1 -->
            <div class="column form-heading">
                Fresher Candidate Register
            </div>

            <div formGroupName="personelinfo">
                <div class="form-subheading">Personel Info</div>
        <!-- Username and password -->
                <div class="form-fieldcontainer">

                    <div class="col-sm-6 inputfield">
                        <input class="form-Control" formControlName="name" placeholder="Name" style="width:100%"/>
                    </div>

                    <div class="col-sm-6 inputfield">
                        <input class="form-Control" formControlName="lname" placeholder="Last name" style="width:100%"/>
                    </div>

                </div>
        <!-- Username and password -->

        <div class="row separator"></div>

        <!-- Password & email start -->
                 <div class="form-fieldcontainer">

                    <div class="col-sm-6 inputfield">
                        <input class="form-Control" formControlName="pass" placeholder="Set password" style="width:100%"/>
                    </div>

                    <div class="col-sm-6 inputfield">
                        <input class="form-Control" formControlName="email" placeholder="Email" style="width:100%"/>
                    </div>

                </div>
        <!-- Password & email end -->


        <!-- Mobile && resume Upload Start-->
               <div class="form-fieldcontainer">
                    <div class="col-sm-6 inputfield">
                        <input class="form-Control" formControlName="mobile" placeholder="Mobile" style="width:100%"/>
                    </div>

                    <div class="col-sm-6 inputfield">
                        <input type="file" style="display:none;" (change)="getfile($event)" id="resumeuploader" name="resume" 
                        value="Upload Latest Resume" accept=".doc,.docx,.rtf,.pdf">
                        
                        <label class="resuleuploader" for="resumeuploader" >{{browsedfilename}}</label>

                    </div>

                </div>
                <!-- Mobile && resume Upload End-->

                <!-- Address Start -->
                <div class="form-fieldcontainer" formArrayName="address">
                    
                    <div class="col-sm-12"  *ngFor="let add of address.controls; let i=index" [formGroupName]="i" >
                        
                        <div style="width:100%"> <h3>Address</h3></div>

                        <div class="col-sm-4">
                            <select formControlName="state">
                                <option>Select State</option>
                                <option *ngFor="let state of States; let j=index" [selected]="state.title"  [value]="state.title">{{state.title}}</option>
                            </select>
                        </div>

                        <div class="col-sm-4 inputfield">
                            <input class="form-Control" formControlName="city" placeholder="City" style="width:100%"/>
                        </div>

                        <div class="col-sm-4 inputfield">
                            <input class="form-Control" formControlName="zip" placeholder="Zip" style="width:100%"/>
                        </div>

                        <div class="col-sm-12 inputfield">
                            <input class="form-Control" formControlName="address" placeholder="address" style="width:100%"/>
                        </div>

                            <div class="col-sm-12" >
                                <button *ngIf="i>0" class="btn btn-danger" (click)="removeAddress(i)" >-Remove Address</button>
                                <button *ngIf="i==(address.controls.length-1)" class="btn btn-info" (click)="addAddress()" >+Add Another Addrss</button>
                            </div>
                         </div>
 
                    </div>
                <!-- Address Ends -->


            </div>
            <!-- Step 1 End-->

            <!-- Step 2 Start-->
            <!-- Education field starts -->
             <div class="form-fieldcontainer" [hidden]="true">
             <div formArrayName="education">
             <div >Educational Qualifiation</div>
                    <div *ngFor="let edu of education.controls; let i=index" [formGroupName]="i">

                        <div class="row">

                            <div class="col-sm-5">
                                <div *ngIf="i==0">10th</div>
                                <div *ngIf="i==1">12th</div>
                                <input *ngIf="i>1" class="form-Control" formControlName="title" placeholder="Qualification" style="width:100%"/>
                            </div>

                            <div class="col-sm-5">
                                <input class="form-Control" formControlName="univ" placeholder="University" style="width:100%"/>
                            </div>

                            <div class="col-sm-2">
                                <input class="form-Control" formControlName="marks" placeholder="Marks%" style="width:100%"/>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-2">
                                <input class="form-Control" formControlName="from" placeholder="From year" style="width:100%"/>
                            </div>

                            <div class="col-sm-2">
                                <input class="form-Control" formControlName="from" placeholder="To Year" style="width:100%"/>
                            </div>

                            <div class="col-sm-8" formArrayName="subjects">

                                <div *ngFor="let subject of subjects.controls; let j=index" [formGroupName]="j" class="row" style="height:auto; overflow:hidden;">

                                    <div class="col-sm-10">
                                        <input class="form-Control" formControlName="title" placeholder="Subject" style="width:100%"/>
                                    </div>

                                    <div class="col-sm-2">
                                        <input class="form-Control" formControlName="marks" placeholder="Marks" style="width:100%"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                     <div class="row">
                         <button *ngIf="i>1" class="btn btn-danger" (click)="removeEducation(i)" >-Remove</button>
                         <button *ngIf="i==(education.controls.length-1)" class="btn btn-info" (click)="addEducation()" >+Add</button>
                    </div>

                    </div>


            </div>      
            <!-- Education field Ends -->

            <!-- Technical field Ends -->
            <div class="row" formArrayName="techqual" [hidden]="true">
                <div>Technical Qualification</div>
                <div *ngFor="let qual of techqual.controls; let i=index" col="col-sm-12" [formGroupName]="i">
                
                    
                    <div class="row">
                    <div class="col-sm-4">
                        <input class="form-Control" formControlName="title" placeholder="Qualification" style="width:100%"/>
                    </div>

                    <div class="col-sm-4">
                        <select formControlName="edu">
                            <option [selected] [value]="Diploma">Diploma</option>
                            <option  [value]="Certification">Certification</option>
                        </select>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-Control" formControlName="institute" placeholder="Institute/University Name" style="width:100%"/>
                    </div>
                </div>

                <div class="row">
                    <div>Duration</div>

                    <div class="col-sm-4">
                        <input class="form-Control" formControlName="from" placeholder="From year" style="width:100%"/>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-Control" formControlName="to" placeholder="To year" style="width:100%"/>
                    </div>

                    <div>
                        <button class="btn btn-danger" (click)="removeTechQual(i)">- Remove</button>
                        <button *ngIf="i==(techqual.controls.length-1)" class="btn btn-primary" (click)="addTechQual()">+Add</button>
                        <button *ngIf="techqual.controls.length==''" class="btn btn-primary" (click)="addTechQual()">+Add</button>
                    </div>

                </div>


                </div>

            </div>

            </div>
            <!-- Step 2 Ends-->
                    <button class="btn btn-info" type="submit" style="display:none;" >Register</button>
        </form>   
    </div>
</div>

{{fresherform.value | json}}