<div class="footer-maincontainer">
    <div class="container footer-containerbody">
        
        <div class="col-sm-4">
            <div class="footer-logo">
                <img src="assets/images/footerlogo.png">
            </div>

            <div class="footer-about">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. 
                sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore.
            </div>
        </div>



        <div class="col-sm-4">

            <div class="footer-updates">News Feed</div>
            <div class="footer-newsfeed">
                <h4>Latest News feed information</h4><br>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-updates">Useful Links</div>
            <div class="footer-nav"> <br>
                    <ul>
                        <li><a>About Us</a></li>
                        <li><a>Recruiters</a></li>
                        <li><a>Companies</a></li>
                        <li><a>Contact Us</a></li>
                        <li><a>Jobseeker Login</a></li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="footer-webfooter">
        <div class="container footer-webfootertext">
            JobOculur 2017 | Developer : <span>Amit Shakya</span>
        </div>
    </div>
</div>