<div class="jobsearch-bar jobsearch-barbgimg">
  <div class="container jobsearch-container">
    <div class="col-sm-6"> 
      <div class="jobsearch-body">
          <input type="text" placeholder="Search Jobs" id="jobsearch">
          <button type="button" class="btn btn-info" id="jobsearchbtn" value="Search Job">Search Job</button>
      </div>
      
    </div>
    <div class="col-sm-6 jobsearch-registerbox">
        <div class="col-sm-6 jobsearch-candidate" routerLink='/register/candidate' >
            <p>Register now and get<br>Instant Job!</p>
            <div class="icon"><img src="assets/images/header-candidateicon.png"></div>
            <h4>Register as<br>EMPLOYEE</h4>
        </div>
        <div class="col-sm-6 jobsearch-employee" routerLink='home'>
          <p>Register us to find best <br>Talent in Industry</p>
          <div class="icon"><img src="assets/images/header-employericon.png"></div>
          <h4>Register as<br>EMPLOYER</h4>
        </div>
    </div>
   </div>
</div>