.headertop{padding:10px 0px; font-size: 20px; font-family: "roboto-light"}

.headerlogo{padding:20px 0px; cursor: pointer;}

.headernav ul{margin: 0px; padding: 0px;}

.headernav ul li{margin: 0px; padding: 0px; float: left; list-style: none; border-bottom:5px solid rgba(0,174,239,0); 
                    box-sizing:border-box; height:91px;}

.headernav ul li.active, .headernav ul li:hover{margin: 0px; padding: 0px; float: left; list-style: none; 
border-bottom:5px solid rgba(0,174,239,1); box-sizing:border-box; height:91px;}

.headernav ul li a{margin: 0px; padding: 30px 20px; text-decoration: none; color:#000;font-family: "roboto-light"; 
font-size: 14px; height: 75px; display: block; cursor: pointer; text-align: center; }

.headernav ul li.active>a,.headernav ul li a:hover {margin: 0px; padding: 30px 20px; text-decoration: none; 
color:#000;font-family: "roboto"; font-size: 14px; height: 75px; display: block; cursor: pointer;
text-align: center;}

.navloginbtn{padding:8px 30px; font-size: 14px; margin-top:20px;}