<div class="container">
    <div class="row headertop">
        <div class="col-md-2" >
          <i class="fa fa-phone" aria-hidden="true"></i> 
          9999999999</div>
        <div class="col-md-3">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          hello@jobsocular.com
        </div>
    </div>
</div>

<hr style="margin:5px 0px;">

<div class="container">
    <div class="row headernav">
          <div class="col-md-3 headerlogo" routerLink='/index'> <img src="assets/images/headerlogo.png" > </div>
          <div class="col-md-6"> 
            <ul>
              <li class="active">
                <a routerLink='register/candidate'><i class="fa fa-user" aria-hidden="true"></i><br>About</a>
              </li>

              <li>
                <a><i class="fa fa-users" aria-hidden="true"></i><br>Recruiters</a>
              </li>

              <li>
                <a><i class="fa fa-building" aria-hidden="true"></i><br>Companies</a>
              </li>

              <li>
                <a><i class="fa fa-envelope" aria-hidden="true"></i><br>Contact</a>
              </li>

              <li>
                <a><i class="fa fa-lock" aria-hidden="true"></i><br>JobSeeker Login</a>
              </li>
            </ul>  
          </div>
          
          <!-- login/Registration -->
          <div class="col-md-3"> 
            <button type="button" class="btn btn-info navloginbtn">Employer Login</button>
         </div>
    </div>
</div>
