.bodyoptions{margin-top:30px;}

.bodyoptions .col-sm-4{float: left;}

.bodyoptions .option{min-height:360px;box-sizing: border-box; border-bottom:2px solid #00aeef; 
cursor: pointer; display: block; background-color: transparent; text-align: center;}

.bodyoptions .option:hover{min-height:360px;box-sizing: border-box; border-bottom:2px solid #00aeef; 
cursor: pointer; display: block; background-color: #00aeef; text-align: center;}

.bodyoptions .option .iconparent{width:100%; float:left; text-align:center;}

.bodyoptions .option .icon{width:90px; height:90px; float: none; margin:50px auto 25px auto;}

.bodyoptions .option .option-text-parent{width:100%; text-align: center; padding:0px 30px; color:#000;}

.bodyoptions .option:hover .option-text-parent{width:100%; text-align: center; padding:0px 30px; color:#fff;}

.home-employeerslist{margin-top:80px; height:130px;}

.home-employeers ul{margin: 0px; padding: 0px;}

.home-employeers ul li{list-style: none; float: left; width:90px; height:100px; margin:0px 15px; 
        border-radius: 5px; overflow: hidden; border:1px solid #eee;}

.home-employeers ul li:nth-child(1){list-style: none; float: left; width:90px; height:100px; margin-right:15px; 
        border-radius: 5px; overflow: hidden; border:1px solid #eee;}

.home-jobsection{ border-top: 1px solid #eee; box-sizing: border-box; border-bottom:1px solid #eee; 
        padding:90px 0px; margin-top: 90px; width:100%;}

.home-jobsection-heading{width: 100%; margin: 0 auto; text-align: center;}

.home-jobsection-heading h4{color:#000; font-family: "roboto-light"}

.home-jobsection-heading h2{color:#000; font-family: "roboto-black"; font-weight: 900;}

.home-jobsection-heading h2 span{ color:#00aeef;}

.home-jobcontainer{margin-top:90px;}

.home-joblist{height: 600px; overflow: hidden; }

.home-joblist ul{margin: 0px; padding: 0px;}

.home-joblist ul li:nth-child(odd){margin: 0px; padding: 0px; width:100%; height:100px; list-style: none; display: block; background-color: #f9f9f9}

.home-joblist ul li:nth-child(even){margin: 0px; padding: 0px; width:100%; height:100px; list-style: none; display: block; background-color: #eee}

.home-jobimgContainer{width:70px; height: 70px; border-radius: 5px; overflow: hidden; float: left; 
margin-top: 15px; float: left;}

.home-jobdisc{ float: left;font-family: "roboto"; color:#000; padding: 0px;}

.home-jobdisc h4{margin: 0px; padding: 0px; font-weight: 900;}

.home-companyname{ float: left; color:#000; font-family: "roboto"; font-size: 16px;  padding: 0px;}

.home-companylocation{ float:left; color:#000; font-family: "roboto"; font-size: 14px; padding: 0px;}

.home-jobapplybtn{text-align: center;}

.home-jobapplybtn .btn-info{text-align: center; background-color: #00aeef; padding:10px 15px;}

.home-jobapplybtn .btn-info:hover{text-align: center; background-color: #0486b7; padding:10px 15px;}

.home-morejobs{margin-top:35px; float: left;}

.home-morejobs button{padding:12px 15px;}

.home-testimonial{height: 250px;  margin-top: 50px; width:100%; border-top: 1px solid #eeeeee; box-sizing: border-box;
background-image: url("../../assets/images/home-bg-comma.jpg"); background-repeat: no-repeat;}

.home-testimonial ul li{list-style: none; width:500px; height: 150px; 
margin: 50px auto 0px auto; text-align: center; position: relative;}

.home-testimonialtext{text-align: center; margin: 50px auto 0px auto; width:100%;  color:#000;
font-weight: 900;}

.home-testimonialtext p{margin: 0px; padding: 0px; font-family: "roboto-light"}

.home-testimonialtext h3{margin: 0px; padding: 0px; font-family: "roboto-black"}

.home-clientfeedback{width:100%; height:100px;  background-color: #00aeef; color:#fff; border-radius: 5px;
padding: 10px; text-align: left; font-family: "roboto"; line-height: 27px; }

.home-clientimg{width:100px; height: 100px; border-radius: 50px; background-color: green; border:5px solid #fff;
position: absolute; right:-50px;top:55px; overflow: hidden;}

